html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  background: #eee; }

.big-container {
  display: flex;
  width: 120rem;
  margin: 5rem auto;
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  overflow: hidden; }

.col-1 {
  flex: 1 0 20%;
  transition: margin 0.3s ease-in-out;
  transform-origin: right; }

.col-2 {
  flex: 1 0 80%; }

.sidebar--toggle {
  margin-left: -40%; }

.sidebar {
  position: relative;
  height: 100%; }
  .sidebar__logo {
    background: #451d7b;
    color: #fff;
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sidebar__logo h1 {
      text-transform: uppercase;
      text-align: center;
      flex: 1 0 100%;
      font-size: 1.8rem;
      letter-spacing: 0.2rem; }
    .sidebar__logo .triangle {
      position: absolute;
      right: 0;
      background: #eee;
      height: 1.2rem;
      min-width: 0.8rem;
      clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
      border: none;
      transform: translateX(7%); }
  .sidebar__menu {
    background: linear-gradient(to top right, #5d2787, #59259f);
    height: 100%;
    padding: 2rem; }
  .sidebar__client {
    display: flex;
    align-items: center;
    padding: 1rem 0; }
    .sidebar__client img {
      width: 4rem;
      height: 4rem;
      border-radius: 0.8rem;
      margin-right: 1.5rem; }
    .sidebar__client p {
      color: #fff;
      font-size: 1.3rem; }
      .sidebar__client p::after {
        content: 'Market Hero';
        display: block;
        margin-top: 0.5rem;
        color: rgba(238, 238, 238, 0.4);
        font-size: 1.1rem; }
  .sidebar__options {
    margin-top: 1.5rem; }
  .sidebar__list {
    list-style: none; }
  .sidebar__link {
    color: rgba(238, 238, 238, 0.4);
    text-decoration: none;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.5rem; }
    .sidebar__link::before {
      content: '';
      display: inline-block;
      width: 4rem;
      height: 2rem; }
    .sidebar__link:hover {
      color: #fff; }
  .sidebar .active {
    color: #fff; }

.header {
  background: #eee;
  padding: 1.3rem; }
  .header .container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__menu-button {
    display: inline-block;
    margin-left: 2rem;
    cursor: pointer;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__menu-button--bars {
      height: 0.2rem;
      width: 1.5rem;
      background: #000;
      display: block;
      position: relative;
      transform: rotate(180deg); }
      .header__menu-button--bars::before, .header__menu-button--bars::after {
        content: '';
        display: block;
        height: 0.2rem;
        width: 2rem;
        position: absolute;
        background: #000; }
      .header__menu-button--bars::before {
        transform: translateY(-0.5rem); }
      .header__menu-button--bars::after {
        transform: translateY(0.5rem); }
  .header__options {
    margin-left: auto;
    flex: 1 0 80%; }
  .header__list {
    display: flex;
    list-style: none;
    justify-content: flex-end; }
  .header__links:link, .header__links:visited {
    display: inline-block;
    margin: 0.5rem 1.5rem;
    text-decoration: none;
    color: #5d2787;
    font-size: 1.4rem; }
  .header__links:hover {
    color: #471e7f; }

.feed {
  border-bottom: 1px solid #eee; }
  .feed .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem; }
  .feed__item {
    max-width: 23rem; }
  .feed__title {
    font-size: 1.8rem;
    font-weight: normal; }
    .feed__title span {
      color: #ccc;
      font-size: 1.3rem; }
  .feed__text {
    font-size: 1.3rem; }
