.header {
   background: $color-grey;
   padding: 1.3rem;

   .container {
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $xsmall) {
         margin-top: 0.5rem;
      }
   }

   &__menu-button {
      display: inline-block;
      margin-left: 2rem;
      cursor: pointer;
      height: 2.6rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &--bars {
         height: 0.2rem;
         width: 1.5rem;
         background: #000;
         display: block;
         position: relative;
         transform: rotate(180deg);
         @media only screen and (max-width: $medium) {
            width: 2rem;
         }
         @media only screen and (max-width: $xsmall) {
            height: 0.5rem;
            width: 3rem;
         }

         &::before,
         &::after {
            content: '';
            display: block;
            height: 0.2rem;
            width: 2rem;
            position: absolute;
            background: #000;
            @media only screen and (max-width: $medium) {
               width: 2.5rem;
            }
            @media only screen and (max-width: $xsmall) {
               height: 0.5rem;
               width: 3.5rem;
            }
         }

         &::before {
            transform: translateY(-1rem);
         }

         &::after {
            transform: translateY(1rem);
         }
      }
   }

   &__options {
      margin-left: auto;
      flex: 1 0 80%;
   }

   &__list {
      display: flex;
      list-style: none;
      justify-content: flex-end;
   }

   &__links {
      &:link,
      &:visited {
         display: inline-block;
         margin: 0.5rem 1.5rem;
         text-decoration: none;
         color: $secondary-color-light;
         font-size: 1.4rem;
         @media only screen and (max-width: $medium) {
            font-size: 2rem;
         }
         @media only screen and (max-width: $xsmall) {
            font-size: 3.2rem;
         }
      }
      &:hover {
         color: $primary-color-dark;
      }
   }
}
