.main__day {
   background: $color-grey-2;
   border: 1px solid $color-grey;
   border-right: none;
   border-left: 2px solid $color-grey;
   padding: 2.5rem;
   height: 100%;
}

.day {
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__links {
      position: relative;
      flex: 1 0 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
         //  position: absolute;
         &:link,
         &:visited {
            font-size: 1.6rem;
            text-decoration: none;
            color: $color-grey-dark-2;
         }

         &:hover {
            color: $color-purple;
         }
      }
      .right {
         transform: rotate(180deg) translateY(-0.2rem);
      }
   }

   &__title {
      font-size: 1.8rem;
      font-weight: normal;
      flex: 1 0 80%;
   }

   &__sales {
      margin: 5rem auto;
   }

   &__stats {
      background: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 11rem;
      height: 11rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      h2 {
         flex: 1 0 100%;
         font-size: 3rem;
         font-weight: normal;
         text-align: center;
      }

      p {
         flex: 1 0 100%;
         text-align: center;
         font-size: 1.2rem;
         color: rgba($color-black, 0.5);
         max-width: 5rem;
         align-self: start;
      }
   }

   &__options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 2.5rem;
      grid-gap: 3rem;
   }
}

.sales {
   display: flex;
   &__border {
      border-radius: 50%;

      &--green {
         border: 5px solid $color-grey-2;
         border-right: 5px solid $color-green;
         width: 20rem;
         height: 20rem;
         margin: 0 auto;
         transform: rotate(-45deg);
         position: relative;
      }
      &--blue {
         border: 5px solid $color-grey-2;
         border-right: 5px solid $color-blue;
         border-top: 5px solid $color-blue;
         width: 17.5rem;
         height: 17.5rem;
         margin: 0 auto;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) rotate(90deg);
      }
      &--purple {
         border: 5px solid $color-purple;
         width: 15rem;
         height: 15rem;
         margin: 0 auto;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) rotate(-45deg);
      }
   }
}

.options {
   &__item {
   }

   &__title {
      color: rgba($color-black, 0.6);
      font-size: 1.4rem;
   }

   &__text {
      font-size: 2rem;
      font-weight: normal;
   }

   &__number {
      color: $color-green;
      font-size: 1.4rem;
   }
}
