.sidebar {
  position: relative;
  height: 100%;

  &__logo {
    background: darken($primary-color-dark, 1);
    color: $white;
    padding: 1.5rem 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 3rem;
    }

    h1 {
      text-transform: uppercase;
      text-align: center;
      flex: 1 0 100%;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      @media only screen and (max-width: $xsmall) {
        font-size: 3rem;
      }
    }

    .triangle {
      position: absolute;
      right: 0;
      background: $color-grey;
      height: 1.2rem;
      min-width: 0.8rem;
      clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
      border: none;
      transform: translateX(7%);
    }
  }

  &__menu {
    background: linear-gradient(to top right, $secondary-color, $primary-color);
    height: 100%;
    padding: 2rem;
  }

  &__client {
    display: flex;

    align-items: center;
    padding: 1rem 0;
    @media only screen and (max-width: $medium) {
      flex-wrap: wrap;
      justify-content: center;
    }
    img {
      max-width: 4rem;
      max-height: 4rem;
      border-radius: 0.8rem;
      margin-right: 1.5rem;
      @media only screen and (max-width: $medium) {
        flex: 1 0 100%;
        display: block;
        max-width: 5rem;
        max-height: 5rem;
        margin-right: 0;
      }
      @media only screen and (max-width: $xsmall) {
        max-width: 7rem;
        max-height: 7rem;
      }
    }

    p {
      color: $white;
      font-size: 1.3rem;
      @media only screen and (max-width: $medium) {
        font-size: 2rem;
        text-align: center;
        flex: 1 0 100%;
        margin-top: 1rem;
      }
      @media only screen and (max-width: $xsmall) {
        font-size: 3.2rem;
      }

      &::after {
        content: 'Market Hero';
        display: block;
        margin-top: 0.5rem;
        color: rgba($color-grey, 0.4);
        font-size: 1.1rem;
        @media only screen and (max-width: $medium) {
          font-size: 1.6rem;
        }
        @media only screen and (max-width: $xsmall) {
          font-size: 2.6rem;
        }
      }
    }
  }

  &__options {
    margin-top: 1.5rem;
  }

  &__list {
    list-style: none;
  }

  &__link {
    color: rgba($color-grey, 0.4);
    text-decoration: none;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    @media only screen and (max-width: $medium) {
      font-size: 1.9rem;
    }
    @media only screen and (max-width: $xsmall) {
      font-size: 2.9rem;
      text-align: center;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 4rem;
      height: 2rem;

      @media only screen and (max-width: $medium) {
        content: none;
      }
    }

    &:hover {
      color: $white;
    }
  }

  .active {
    color: $white;
  }
}
