$primary-color: #59259f;
$primary-color-light: #5d2787;
$primary-color-dark: #471e7f;

$color-links: #ddd;
$color-links-hover: #f2ba2f;
$color-grey: #eee;
$color-grey-dark: #ccc;
$color-black: #000;
$color-pink: #e77cae;
$color-green: #49d785;
$color-blue: #48d2e9;
$color-red: #fa7273;

$white: #fff;
