$primary-color: #59259f;
$primary-color-light: #77449e;
$primary-color-dark: #471e7f;
$secondary-color: #462d9b;
$secondary-color-light: #674ae0;
$color-links: #ddd;
$color-yellow: #ffcd36;
$color-grey: #eee;
$color-grey-2: #f6f5fa;
$color-grey-dark: #ccc;
$color-grey-dark-2: #bbb;
$color-grey-light: #efefef;
$color-grey-light-2: #f6f5fa;
$color-grey-3: #fdfdfdd1;
$color-black: #000;
$color-pink: #e77cae;
$color-green: #49d785;
$color-blue: #48d2e9;
$color-red: #fa7273;
$color-purple: #b498f4;
$white: #fff;

// Font size
$large: 62.5em; // 1200px
$medium-2: 61.8em; // 990px
$medium: 49.1em; // 700px
$small: 37.5em; // 600px
$xsmall: 25em; // 400px
